@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400';

body, h2 {
    font-family: 'Lato';
    font-weight: 300;
    margin-top: 0;
}

a.change-list {
    padding-left: 5px;
}

.hover-show {
    display: none;
}

.tick {
    font-family: 'Lato';
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

.thin {
    font-weight: 100;
}

#content, html, body {
    height: 100%;
}

#today-date {

}

#daily-header {
    width: 94%;
    margin-left: 4%;
    margin-top: 0;
    padding-top: 20px;
    border-bottom: 1px solid rgb(192, 192, 192);
    color: rgb(100, 100, 100);

}

#calendar {
    float: left;
    width: 70%;
    height: 100%;
    overflow: scroll;
}

#sidebar {
    float: right;
    width: 30%;
    height: 100%;
    overflow: scroll;
    padding: 30px;
}

h4 {
    margin: 0;
    padding: 0;
}

.list-group-heading {
    /*background-color: rgb(245, 245, 245);*/
}

.list-group-heading-text {
    display: inline-block;
    font-weight: 400;
}

.refresh-button:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.rotate{
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.rotate.down{
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}


.tick line, .calendar-background-line {
    stroke: rgb(215, 215, 215);
}

.domain {
    display: none; /* hide left stroke */
}

.calendar-background {
    fill: rgb(245, 245, 245);
}

.y-axis text {
    fill: rgb(192, 192, 192);
}

rect.event-rect {
    fill: rgb(60, 179, 242);
    /*opacity: 0.1;*/
}

.event-dragbar {
    opacity: 0;
}

.event-text {
    fill: rgb(100, 100, 100);
}

.load-template {
    padding-right: 10px;
}
