#content, html, body {
    height: 98%;
}

#daily-header {
    width: 70%;
    display: inline-block;
}

#calendar {
    float: left;
    width: 70%;
    height: 100%;
    overflow: scroll;
}

#sidebar {
    float: right;
    width: 30%;
    height: 100%;
    overflow: scroll;
}



.tick line, .calendar-background-line {
    stroke: rgb(215, 215, 215);
}

.domain {
    display: none; /* hide left stroke */
}

.calendar-background {
    fill: rgb(245, 245, 245);
}

.y-axis text {
    fill: rgb(192, 192, 192);
}

rect.event-rect {
    fill: rgb(60, 179, 242);
    /*opacity: 0.1;*/
}


.event-dragbar {
    opacity: 0;
}
